body{
background-color: rgb(164, 209, 59);
font: normal 15pt Arial;


}
header{
    color: aliceblue;
    text-align: center;

}
section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.411);


}

 div  {
     text-align: center;
     padding: 10px;
 }
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;

}